@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto Condensed", serif;
  /* background: url("../public/contact.png") no-repeat center top;
  height: 2000px; */
}

nav {
  font-family: "Bebas Neue", serif;
}
.title {
  font-family: "Bebas Neue", serif;
}
